@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');
body{
    background-color: #312929;
    color: aquamarine;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
}
input{
    background-color: #312929;
    color: aquamarine;
    font-family: 'Poppins', sans-serif;
    border: 1px solid aquamarine;
    padding: 0.4vw;
    border-radius: 10%/70%;
}
button{
    border-radius: 10%/70%;
    background-color: #312929;
    color: aquamarine;
    font-family: 'Poppins', sans-serif;
    border: 1px solid aquamarine;
}
ul{
    display: flex;
    width:100vw;
}
li{
    list-style-type: none;
    padding-right:2vw;
}
a{
    text-decoration: none;
    color: antiquewhite;
}